@media only screen and (min-width: 768px){
    .half-width {
        height: 535px;
    }
    .notify-section{
        width: 35%;
    }
    
}
@media only screen and (max-width: 767px){
    .notify-section{
        width: 100%;
    }
}